body {
  margin-top: 25px;
  background: rgb(255, 253, 253);
}
.perfilFlex {
  display: flex;
  flex-direction: row;
}
.areaTexto {
  background-color: transparent;

}
.informacoesUsuario{
  display: flex;
  flex-direction: column;
  flex: 1;
justify-content: center;

}
#bordaheading {
  flex: 1;
  margin-top: 20px;
  background-color: #fff;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
  margin-right: 3em;
  padding: 10px;
  height: 70vh;
}
.panel {
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.603);
}
.mw140 {
  max-width: 140px !important;
}
.mr25 {
  margin-right: 25px !important;
}
.mb20 {
  margin-bottom: 20px !important;
}
.mw150{
  width: 15em;
  border-radius: 3px;
}
#texto-sobre {
  font-weight: 700;
  color: #555555;
/* <<<<<<< Michelle
=======
  width: 50%;
  padding-left: 2em;
}
.fotoUsuario{
  /* align-self: center; */
  padding-left: 2em;
}
.totalperfil{
  display: flex;

}
#caixaanimais {
  flex: 1;
}
.page-heading {
  padding: 30px 40px !important;
  margin: -25px -20px 25px;
  background-color: #f2f2f2;
}
/* .panel {
  position: relative;
  background-color: #ffffff;
  border-radius: 3px;
  height: 100%;
}
 .panel-heading {
  height: 52px;
  line-height: 49px;
  letter-spacing: 0.2px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  padding: 0 8px;
  margin-top: 20px;
  background: #ff487fc7;
  border: 1px solid #a7a7a7;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}  */
#lista li {
  display: inline-block;
  margin: 1%;
}

