#fotoCarousel {
  width: 25em;
  height: 30em;
}
#carouselAnimaisPessoa {
  max-height: 30em;
  max-width: 30em;
  color: black;
}

#carouselAnimaisPessoa .carousel-caption{
  background-color: rgba(104,6,130,0.5);
  border-radius: 5px;

}
.modalFlex {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
}


.avisoalerta{
  display: inline;
  word-break: break-all;
}
.areaInputs {
  flex: 2;
}
#fotocarousel {
  flex: 1;
}

.formularioInteiro input[type="password"] {
  letter-spacing: 0.3em;
}
.corpoModal{
  display: flex;
  flex-direction: column;
  justify-items: center;
}
.botaoalertanimal{
  width: 100%;
}
.primeiraPagAlerta{
  display: flex;
  align-items: center;
  justify-content: center;
}
.irBotao{
  width: 100%;
}
.botaoRosa{
  background-color:#ff4880 !important;
}
.botaoalertanimal{
  background-color: #ff4880 !important;
}
.formularioInteiro input,
.formularioInteiro textarea {
  background: none;
  color: #ff4880;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  border: none;
  border-radius: 0;
  border-bottom: 3px solid pink;
  border-image:  radial-gradient(circle, rgba(255,72,128,1) 42%, rgba(104,6,130,1) 100%);
  border-image-slice: 1;
  width: 100%;

}

.react-datetime-picker{
  width: 100%;
  height: 5vh;
}

.formularioInteiro input:active,
input:focus {
  border-color: rgb(255, 137, 182) !important;
}

.modalalertaanimalform{
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}
input:focus-visible{
outline: none;}

textarea:focus-visible{
  outline: none;}
.passarPag{
  width: 100%;
}
.animalerta:after{
  content: "";
  clear: both;
}


.animalerta{
  border: 0px solid #ccc;
  border-radius: 100%;
  float: left;
  height: 8vh;
  position: relative;
  width: 8vh;
}

.animalerta label{
  background: #fff no-repeat center center;
  bottom: 1px;
  cursor: pointer;
  display: block;
  font-size: 0;
  left: 1px;
  position: absolute;
  right: 1px;
  top: -1px;
  white-space: nowrap;
  border-radius: 100%;

}
.animalerta input{
  opacity: 0;
}
.animalerta input + label{
-webkit-box-shadow: 0px 0px 15px 5px #ff4880; 
box-shadow: 0px 0px 15px 5px #ff4880;
}
.animalerta input:checked + label{
  -webkit-box-shadow: 0px 0px 15px 5px #ffffff; 
  box-shadow: 0px 0px 15px 5px #ffffff;
  background: #680682 no-repeat center center;
}
.animalerta input:checked + label{
  background-image: url(https://i.imgur.com/GME5xoQ.png);
  /* background-size: 5vh; */
  background-size: cover;
}
#botaoalertagerar{
  margin-right: 3px !important;
  background-color: #ff004c !important;
  border-color: #ff004c !important;
}

.animalerta input + label{
  background-image: url(https://i.imgur.com/P7svsUr.png);
  background-size: cover;
}

@media only screen and (max-width: 850px) {
  .corpoAnimal{
      flex-wrap: wrap;

  }
  .MuiPaper-root{
      width: 50% !important;
  }
  
  .sliderAnimal{
    width: 90%;
  }
}

.visivelAlerta{
  opacity: 1;
  display: flex;

}
.invisivelAlerta{
  display: none;
  opacity: 0;
}

.voltaranimalalerta form{
  width: 100%;
  margin: 5%;
}