.caixa{
    padding: 5% 0% 5% 0%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    background-image: url('../../../../assets/fundofinal2.png');
    background-size: 50%;
    overflow-y: hidden;

}

.caixaElemento{
    padding: 10%;
    background-color: white;
    border: 3px solid pink;
    border-image: linear-gradient(to right, rgba(255,107,222,1) ,rgba(191,122,221,1), rgba(154,52,255,1));
    border-image-slice: 1;
    -webkit-box-shadow: 0 0 1em rgba(255,107,222,1);
    -moz-box-shadow: 0 0 1em rgba(255,107,222,1);
    box-shadow: 0 0 1em rgba(255,107,222,1);

}

.grandecaixa{
    display: flex;
    width: 100%;
    height: 90vh;
    margin: auto;

}


.caixaimagem {
    width: 100%;
    margin-left: 10px;
}

.bluhrit {
    filter: blur(3px);
    filter: grayscale(80%);
  -webkit-filter: blur(3px);
  -webkit-filter: grayscale(80%);

  background-size: cover;
  height: 100%;
  width: 100%;
}

.footerLogin{
    opacity: 0;
    display: none;
}

.homeLogin{
    height: 100vh;
}

input[type="password"] {
    letter-spacing: 0.3em;
  }
  

  

.grandecaixa input,
.grandecaixa textarea {
    background: none;
    color: pink;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    border: none;
    border-radius: 0;
    border-bottom: 3px solid pink;
    border-image: linear-gradient(to right, rgba(255,107,222,1) ,rgba(191,122,221,1), rgba(154,52,255,1));
    border-image-slice: 1;
}

.grandecaixa input:active,input:focus{
    border-color: pink !important;
}

.botaoRosa{
    background-color: hotpink !important;
}
.linksForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.linksForm a{
    color: hotpink;

}
.linksForm a:hover{
    color: rgb(150, 70, 167);
}
.inputfile::-webkit-file-upload-button {
    visibility: hidden;
  }

.inputfile{
    width: 45%;
}
.inputfile::before {
content: 'Selecione Foto';
display: inline-block;
background: linear-gradient(top, #f9f9f9, #e3e3e3);
border: 1px solid #999;
border-radius: 3px;
padding: 5px 8px;
outline: none;
white-space: nowrap;
-webkit-user-select: none;
cursor: pointer;
text-shadow: 1px 1px #fff;
font-weight: 700;
font-size: 10pt;
}
.inputfile:hover::before {
border-color: black;
}
.inputfile:active::before {
background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
.menu{
    margin-bottom: 0;
}
@media only screen and (max-width: 850px) {
    .grandecaixa{
        background-image: url("../../../../assets/gifgato.gif");
        background-size: cover;
        width: 100%;
    }
    .caixaimagem{
        opacity: 0;
        display: none;
    }
    .caixa{
        background-color: rgba(46, 46, 46, 0.7);
        background-image: none;
        width: 100vw;
    }
    .cadastroCaixa{
        margin-left: 5%;
        margin-right: 5%;
    }
}

/* 
  animation: ;
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
    font-weight:700;    
  } */