.body {
  background-color: #f5ecdc;
  background-image: url('../../assets/fundofinal2.png');
  background-size: 250px 250px;

  /* background-image: url("https://www.transparenttextures.com/patterns/light-paper-fibers.png%22"); */
  padding-top: 0.5%;
}
