.chatBox{
    display: flex;
    width: 100%;
}

.image{
    background-image: url("../../../../assets/icone1.png");
    background-size: cover;
    width: 5em;
    height: 5em;

}

.d-flex{
    align-items: center;
}

.pchat{
    margin-left: 2%;
}