.chatBox{
    display: flex;
    width: 100%;
}



.d-flex{
    align-items: center;
}

.pchat{
    margin-left: 2%;
}

.psmall{
    font-size: 0.8em;
}
.flexContato{
    display: flex;
    flex-wrap: nowrap;
}

.chatHorario{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}