/* .container-comentario {
    display: grid;
    grid-template-columns: min-content 1fr;
    background-color: grey;
    padding: 10px;
}

.comentario-img {
    height: 300px;
}

.comentario-nome {
    background-color: white;
    padding: 10px;
    width: 70%;
    margin: auto;
}

.comentario-img {
    height: 80px
}

.comentario-nome {
    margin-left: 15px;
    
font-weight: bold; 

}

.comentario-data {
    margin-left: 15px;
}

.comentario-conteudo {
    grid-column: span 2;
    text-align: left;
}

 */
