.navbar{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  border-radius: 6px;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.603);
  z-index: 3;
}

.menu {
  background-color: #ffff;
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-bottom: 0.5%;
}

#teste {
  font-size: 140%;
  color: #ff4880 !important;
}
.alerta {
    background-color: #ff4880;
    margin-right: 2px !important;
}
.botaopesquisa {
  background-color: #8fc424;
  color: white;
  border-radius: .25rem;
}
.lupa {
  color: white;
  font-size: 250%;
}
#botaoalerta{
  margin-right: 4px;
}
#dropdown::after{
   border-top-color: white;
}
#dropdown:focus{
    outline: none;
    box-shadow: 0 0 0 .25rem #8fc42442;
}
#navbarSupportedContent{
    text-align: center;
    justify-self: center;
}

.link-drop{
  text-decoration: none;
  font-style: normal;
  color: rgb(0, 0, 0);
}

@media only screen and (max-width: 990px) {
  .navItensColapse{
    justify-content:center !important;
    flex-direction: column;
    align-items: center;
  }
  .collapse:not(.show){
    display: flex !important;
    flex-direction: column;
  }
  .navbar-nav{
    flex-direction: row !important;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
 
}



.collapse:not(.show) .me-auto{
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-around;
}

.collapse:not(.show) .nav-item{
  padding: 3%;
}