

.Pesquisa{
    width: 100%;
    padding: 1%;
}
.caixaPesquisa{
    padding: 5%;
    position: relative;

}
.filtros select{
    background-color: rgb(255, 249, 238);

}

.form-personalizado{
    background-color: transparent !important;
    border-left: 3px !important;
    border-right: 3px !important;
    border-color: white !important;
    color: white !important;
    text-align: center;
    font-weight: bold !important;
}

.form-personalizado:focus{
    background-color: white !important;
    color: black !important;

}

.select{
    align-self: flex-end;
    flex: auto;
    text-align: center;

}

.select:first-child{
    margin-right: 5%;
}

.barra-pesquisa__opcoes{
    display: flex;
    flex-direction: column;

}

.filtros_footer{
    display: flex;
    flex-direction: row;
    align-self: center;
    position: relative;

}

.filtros select:hover{
    background-color: rgb(255, 238, 251);
}


.filtros select:focus{
    -webkit-box-shadow: 0px 0px 15px 5px #60ff83; 
    box-shadow: 0px 0px 15px 5px #60ff83;
}



.filtros option{
    background-color: rgb(255, 211, 244);
}



.filtros option:hover{
    background-color: pink !important;
    box-shadow: 0 0 10px 100px #ffddfd inset;
}

.hidden{
    display: none;
    opacity: 0;
    border: 0;
}
.barra-pesquisa{
    width: 100%;
    background-color: #ff4880;
    /* background: linear-gradient(0,#ff4880,#b073d8  ); */
    /* #ff4880, #ff91b2 */
}
.filtros{
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    flex-wrap: wrap;
    padding:0% 5% 0% 5%;
    position: relative;

}
.filtros .radiooptions:not(:last-child) {
    border-right: 1px solid white;
}
.filtros .radiooptions{
    flex-grow: 1;
    margin-bottom: 2%;
}

.cor{
    flex-grow: 1;

}

.inputsFiltro{
    display: flex;
}

.logo{
    width: 10%;
    position: absolute;
    top: 66px;
}

.radiooptions{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
.radiooptions:after{
    content: "";
    clear: both;
}

.radiooptions .form-check{
    border: 1px solid #ccc;
    border-radius: 100%;
    height: 7vh;
    position: relative;
    width: 7vh;
}

.radiooptions .form-check{
    border: 1px solid #ccc;
    border-radius: 100%;
    float: left;
    height: 8vh;
    position: relative;
    width: 8vh;
}

.radiooptions .form-check label{
    background: #fff no-repeat center center;
    bottom: 1px;
    cursor: pointer;
    display: block;
    font-size: 0;
    left: 1px;
    position: absolute;
    right: 1px;
    top: -1px;
    white-space: nowrap;
    border-radius: 100%;

}

.radiooptions .form-check input{
    opacity: 0;
}


.radiooptions input:checked + label{
    -webkit-box-shadow: 0px 0px 15px 5px #ffffff; 
    box-shadow: 0px 0px 15px 5px #ffffff;
    
}
.radiooptions .desaparecidoinput:checked + label{
    background-image: url('../../../../assets/fundoopcoes.png');
    background-size: cover;
}

.radiooptions .naoinput:checked + label{
    background-image: url('../../../../assets/dog-seating-ativo.png');
    background-size: cover;
}

.radiooptions .femeainput:checked + label{
    background-image: url('../../../../assets/femea-ativo.png');
    background-size: cover;
}
.radiooptions .machoinput:checked + label{
    background-image: url('../../../../assets/macho-ativo.png');
    background-size: cover;
}



.radiooptions .siminput:checked + label{
    background-image: url('../../../../assets/dog-with-belt-walking-with-a-man-ativo.png');
    background-size: cover;
}

.radiooptions .doginput:checked + label{
    background-image: url('../../../../assets/dog-ativo.png');
    background-size: cover;
}

.radiooptions .catinput:checked + label{
    background-image: url('../../../../assets/cat-ativo.png');
    background-size: cover;
}
.conjunto{
    display: flex;
    flex-direction: column;
    margin: 2%;
    text-align: center;
    width: 100%;
    align-items: center;

}


@media only screen and (max-width: 850px) {
    .corpoAnimal{
        flex-wrap: wrap;

    }
    .MuiPaper-root{
        width: 50% !important;
    }
}
.radiooptions .gato label{
    background-image: url('../../../../assets/cat.png');
    background-size: cover;
}
.radiooptions .cachorro label{
    background-image: url('../../../../assets/dog.png');
    background-size: cover;
}
.radiooptions .sim label{
    background-image: url('../../../../assets/dog-with-belt-walking-with-a-man.png');
    background-size: cover;

}
.radiooptions .nao label{
    background-image: url('../../../../assets/dog-seating.png');
    background-size: cover;
}

.radiooptions .macho label{
    background-image: url('../../../../assets/macho.png');
    background-size: cover;

}
.radiooptions .femea label{
    background-image: url('../../../../assets/femea.png');
    background-size: cover;
}

.radiooptions .desaparecidoFiltro label{
    background-image: url('../../../../assets/missing.png');
    background-size: cover;
}
.form-check{
    padding-left: 3em;
}
.stars{
    width: 3px;
    display: none;
    height: 3px;
    border-radius: 50%;
    background-image:url('../../../../assets/cat.png');
    width: 100%;
    background-repeat: repeat;
    height: 40vh;

    animation: anim-stars 10s linear infinite;
  }
  #sky{
      height: 60% !important; 
      z-index: 0 !important;
  }
  @keyframes anim-stars {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-300px);
    }
}
  .stars::after{
    content: " ";
    position: absolute;
    top: 300px;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    box-shadow: 50px 30px white,
    120px 80px  white,
    90px 200px white,
    280px 300px white,
    230px 130px white,
    170px 50px white,
    130px 100px white,
    0px 80px  white,
    20px 150px  white,
    370px 150px  white,
    550px 180px  white,
    750px 160px  white,
    620px 100px  white,
    720px 95px  white,
    900px 120px  white,
    850px 230px  white,
    950px 200px  white,
    1050px 150px  white,
    1150px 100px  white,
    1150px 200px  white,
    1250px 130px  white,
    1350px 200px  white,
    1450px 220px  white,
    1490px 180px  white,
    1590px 150px  white,
    1490px 90px  white,
    220px  200px white,
    700px  250px white,
    800px  350px white,
    800px  350px white,
    700px  70px white,
    600px  60px white,
    500px  70px white,
    220px  200px white;
  }
  .stars2{
    position: relative;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    box-shadow: 50px 30px white,
    100px 80px  white,
    80px 200px white,
    300px 300px white,
    250px 130px white,
    200px 50px white,
    150px 100px white,
    20px 80px  white,
    30px 150px  white,
    400px 150px  white,
    600px 180px  white,
    800px 160px  white,
    780px 100px  white,
    890px 95px  white,
    1000px 120px  white,
    950px 230px  white,
    1050px 200px  white,
    1150px 150px  white,
    1250px 100px  white,
    1250px 200px  white,
    1350px 130px  white,
    1450px 200px  white,
    1550px 220px  white,
    1590px 180px  white,
    1690px 150px  white,
    1590px 90px  white,
    320px  200px white,
    800px  250px white,
    900px  350px white,
    900px  350px white,
    320px  200px white;
    animation: anim-stars 16s linear infinite;
  }
  
  .stars2::after{
    content: " ";
    position: absolute;
    top: 300px;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    box-shadow: 50px 30px white,
    100px 80px  white,
    80px 200px white,
    300px 300px white,
    250px 130px white,
    200px 50px white,
    150px 100px white,
    20px 80px  white,
    30px 150px  white,
    400px 150px  white,
    600px 180px  white,
    800px 160px  white,
    780px 100px  white,
    890px 95px  white,
    1000px 120px  white,
    950px 230px  white,
    1050px 200px  white,
    1150px 150px  white,
    1250px 100px  white,
    1250px 200px  white,
    1350px 130px  white,
    1450px 200px  white,
    1550px 220px  white,
    1590px 180px  white,
    1690px 150px  white,
    1590px 90px  white,
    320px  200px white,
    800px  250px white,
    900px  350px white,
    900px  350px white,
    320px  200px white;
  }
  
