.bodyDog{
    color: #ff4880 !important;
    margin-top:20px;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.603);
    border-radius: 6px;
}
.animalDesaparecido h2 p{
    font-weight: 600 !important;
}
.iconeAnimal{
    width: 64px;
    height: 64px;
}
.section {
    padding: 0 0;
    margin: 2em 5em;
    position:relative;
}
.excluir{
    color: red;
}
.swal-text{
    font-weight: bolder;
}
.aviso{
    text-align: center;
    }
.animalDesaparecido{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 50, 94, 0.5);
    padding: 3%;
    border-radius: 5px;
    text-align: center;
    height: 100%;

}
.flexDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.animalEditar{
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0px !important;
}
.sexoedicao{
    display: flex;
    align-items: center;
}
.botaoVerde{
    color: white;
    background-color: rgb(184, 250, 53);
}


.loadFlex{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #ff4880;
    width: 5em;
    height: 5em;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
.gray-bg {
    background-color: #ffff;
}
#lista{
  padding-bottom: 1em;
}
#perfilcachorro {
    width: 20em;
    height: 20em;
    background: #ffffff;
    margin-right: 10px;

}

#perfilcachorro {
    vertical-align: middle;
    border-style: none;
}
#sobreanimal{
  height: 75%;
}
.about-avatar{
    display: flex;
}
#cabecalho {
  width: 100%;
  padding: 30px !important;
}
.avatarFoto{
    display: flex;
    margin-right: 5%;
    flex: 1;
    flex-direction: row-reverse;
}
.corpoPerfilAnimal{
    flex: 0.8;
}
.animalEditar{
    flex-direction: row;
    display: flex;
    width: 100%;
}
.centralizarBotao{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding-top: 5%;
}

#boxsobrefotos{
    display: flex;
}
.about-text h3 {
  font-size: 35px;
  font-weight: 700;
  margin: 0 0 6px;
}
.perfilCabecalho{
    width: 100%;
}

.about-text p {
  font-size: 15px;
  max-width: 450px;
}
.about-text p mark {
  font-weight: 600;
  color: #680682;
}
.about-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.about-list {
  padding-top: 10px;
}
.about-list .media {
  padding: 5px 0;
}
.about-list label {
  color: #680682;
  font-weight: 600;
  width: 88px;
  margin: 0;
  position: relative;
}
.about-list label:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 11px;
  height: 12px;
  background: #680682;
  -moz-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
  margin: auto;
  opacity: 0.5;
}
.about-list p {
  margin: 0;
  font-size: 15px;
}

.about-section .counter {
  padding: 20px 15px;
  margin: 10px 0px 0px 0px;
  background: #ffffff;
  border-radius: 3px;
  box-shadow: 0 0 40px #ff487fe1 !important;
}
.about-section .counter .count-data {
  margin-top: 10px;
  margin-bottom: 10px;
}
.about-section .counter .count {
  font-weight: 700;
  color: #680682;
  margin: 0 0 5px;
}
.about-section .counter p {
  font-weight: 600;
  margin: 0;
}
mark {
    background-image: linear-gradient(rgba(252, 83, 86, 0.6), rgba(252, 83, 86, 0.6));
    background-size: 100% 3px;
    background-repeat: no-repeat;
    background-position: 0 bottom;
    background-color: transparent;
    padding: 0;
    color: currentColor;
}
.theme-color {
    color: #ff4880;
}
.dark-color {
    color: #680682;
}

.profile-header .profile-header-content,
.profile-header .profile-header-tab {
    position: relative
}
@media only screen and (max-width: 900px) {

    .about-avatar{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
   .gray-bg{
       margin: 0px !important;
   }
}

.profile-header .profile-header-tab {
    background: #fff;
    list-style-type: none;
    margin: -10px 0 0;
    padding: 0 0 0 140px;
    white-space: nowrap;
    border-radius: 0
}


.profile-image {
    height: 175px;
    line-height: 175px;
    text-align: center;
    font-size: 72px;
    margin-bottom: 10px;
    border: 5px solid #3d6f97;
    overflow: hidden;
    border-radius: 4px
}

.profile-image img {
    display: block;
    max-width: 100%
}

.profile-highlight {
    padding: 12px 15px;
    background: #FEFDE1;
    border-radius: 4px
}

.profile-highlight h4 {
    margin: 0 0 7px;
    font-size: 12px;
    font-weight: 700
}

.table.table-profile>thead>tr>th {
    border-bottom: none!important
}

.table.table-profile>thead>tr>th h4 {
    font-size: 20px;
    margin-top: 0
}

.table.table-profile>thead>tr>th h4 small {
    display: block;
    font-size: 12px;
    font-weight: 400;
    margin-top: 5px
}

.table.table-profile>tbody>tr>td,
.table.table-profile>thead>tr>th {
    border: none;
    padding-top: 7px;
    padding-bottom: 7px;
    color: #680682;
    background: 0 0
}

.table.table-profile>tbody>tr>td.field {
    width: 20%;
    text-align: right;
    font-weight: 600;
    color: #2d353c
}

.table.table-profile>tbody>tr.highlight>td {
    border-top: 1px solid #b9c3ca;
    border-bottom: 1px solid #b9c3ca
}

.table.table-profile>tbody>tr.divider>td {
    padding: 0!important;
    height: 10px
}

.profile-section+.profile-section {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #b9c3ca
}

.profile-section:after,
.profile-section:before {
    content: '';
    display: table;
    clear: both
}

.profile-section .title {
    font-size: 20px;
    margin: 0 0 15px
}

.profile-section .title small {
    font-weight: 400
}

body.flat-black {
    background: #E7E7E7
}

.flat-black .navbar.navbar-inverse {
    background: #680682
}

.flat-black .navbar.navbar-inverse .navbar-form .form-control {
    background: #4a4a4a;
    border-color: #4a4a4a
}

.flat-black .sidebar,
.flat-black .sidebar-bg {
    background: #3A3A3A
}

.flat-black .page-with-light-sidebar .sidebar,
.flat-black .page-with-light-sidebar .sidebar-bg {
    background: #fff
}

.flat-black .sidebar .nav>li>a {
    color: #b2b2b2
}

.flat-black .sidebar.sidebar-grid .nav>li>a {
    border-bottom: 1px solid #474747;
    border-top: 1px solid #474747
}

.bg-white {
    background-color: #fff!important;
}
.p-10 {
    padding: 10px!important;
}
.media.media-xs .media-object {
    width: 32px;
}
.m-b-2 {
    margin-bottom: 2px!important;
}

.timeline {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative
}

.timeline:before {
    content: '';
    position: absolute;
    top: 5px;
    bottom: 5px;
    width: 5px;
    background: #ff4880;
    left: 20%;
    margin-left: -2.5px
}

.timeline>li {
    position: relative;
    min-height: 50px;
    padding: 20px 0
}

.timeline .timeline-time {
    position: absolute;
    left: 0;
    width: 18%;
    text-align: right;
    top: 30px
}

.timeline .timeline-time .date,
.timeline .timeline-time .time {
    display: block;
    font-weight: 600
}

.timeline .timeline-time .date {
    line-height: 16px;
    font-size: 12px;
}

.timeline .timeline-time .time {
    line-height: 24px;
    font-size: 20px;
    color: #262626;
}

.timeline .timeline-icon {
    left: 15%;
    position: absolute;
    width: 10%;
    text-align: center;
    top: 40px
}

.timeline .timeline-icon a {
    text-decoration: none;
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 20px;
    background: #fd8eb0;
    line-height: 10px;
    color: #fff;
    font-size: 14px;
    border: 5px solid #ff4880;
    transition: border-color .2s linear
}

.timeline .timeline-body {
    margin-left: 23%;
    margin-right: 17%;
    background: #fff;
    position: relative;
    padding: 20px 25px;
    border-radius: 6px
}


@media (max-width: 767px) {
    .about-text h3 {
      font-size: 35px;
    }
  }
  .about-text h6 {
    font-weight: 600;
    margin-bottom: 15px;
  }
  @media (max-width: 767px) {
    .about-text h6 {
      font-size: 17px;
    }
  }