.hidden{
    display: none;
    opacity: 0;
}
.formanimal{
    font-weight: bold;
}

.formanimal select{
    font-weight: bold;
}

.formanimal input[type="text"],
.formanimal textarea {
    background: none;
    color: pink;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 10px 10px 5px;
    display: block;
    border: none;
    border-radius: 0;
    border-bottom: 3px solid pink;
    /* border-image: linear-gradient(to right, rgba(255,107,222,1) ,rgba(191,122,221,1), rgba(154,52,255,1)); */
    border-image: radial-gradient(circle, rgba(255,72,128,1) 42%, rgba(104,6,130,1) 100%);
    border-image-slice: 1;
}

.formanimal input:active,input:focus{
    border-color: pink !important;
}

.formAnimalOptions{
    display: flex;
    width: 100%;
    flex-direction: row !important;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.conjuntoAnimal{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    padding: 2%;
}

@media only screen and (max-width: 1000px) {
    .formAnimalOptions{
        justify-content: center;
    }

}

.radiooptionsAnimalForm{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
.radiooptionsAnimalForm:after{
    content: "";
    clear: both;
}

.radiooptionsAnimalForm .form-check{
    border: 0px solid #ccc;
    border-radius: 100%;
    height: 7vh;
    position: relative;
    width: 7vh;
}

.radiooptionsAnimalForm .form-check{
    border: 0px solid #ccc;
    border-radius: 100%;
    float: left;
    height: 8vh;
    position: relative;
    width: 8vh;
}

.radiooptionsAnimalForm .form-check label{
    background: #fff no-repeat center center;
    bottom: 1px;
    cursor: pointer;
    display: block;
    font-size: 0;
    left: 1px;
    position: absolute;
    right: 1px;
    top: -1px;
    white-space: nowrap;
    border-radius: 100%;

}

.radiooptionsAnimalForm .form-check input{
    opacity: 0;
}


/* .radiooptionsAnimalForm input:checked + label{
    -webkit-box-shadow: 0px 0px 15px 5px #ffffff; 
    box-shadow: 0px 0px 15px 5px #ffffff;
    
} */
.radiooptionsAnimalForm input:checked + label{
    -webkit-box-shadow: 0px 0px 10px 3px #ff487fc0; 
    box-shadow: 0px 0px 10px 3px #ff487fc0;
}

.radiooptionsAnimalForm .cao label{
    background-image: url(https://i.imgur.com/3bqxcS1.png);
    background-size: cover;
}

.radiooptionsAnimalForm .cao input:checked + label{
    background-image: url(https://i.imgur.com/jAT0KxA.png);
    background-size: cover;
}

.radiooptionsAnimalForm .gato label{
    background-image: url(https://i.imgur.com/tldds0b.png);
    background-size: cover;
}

.radiooptionsAnimalForm .gato input:checked + label{
    background-image: url(https://i.imgur.com/JFwTgTv.png);
    background-size: cover;
}

.radiooptionsAnimalForm .sim label{
    background-image: url(https://i.imgur.com/ZTrj4t3.png);
    background-size: cover;
}

.radiooptionsAnimalForm .sim input:checked + label{
    background-image: url(https://i.imgur.com/iU7mJQA.png);
    background-size: cover;
}


.radiooptionsAnimalForm .nao label{
    background-image: url(https://i.imgur.com/SExCzss.png);
    background-size: cover;
}

.radiooptionsAnimalForm .nao input:checked + label{
    background-image: url(https://i.imgur.com/p3DOPxB.png);
    background-size: cover;
}

.radiooptionsAnimalForm .macho label{
    background-image: url(https://i.imgur.com/q4sjFCU.png);
    background-size: cover;
}

.radiooptionsAnimalForm .macho input:checked + label{
    background-image: url(https://i.imgur.com/3d3WRcl.png);
    background-size: cover;
}

.radiooptionsAnimalForm .femea label{
    background-image: url(https://i.imgur.com/lhqDTgx.png);
    background-size: cover;
}

.radiooptionsAnimalForm .femea input:checked + label{
    background-image: url(https://i.imgur.com/StXg6a3.png);
    background-size: cover;
}
.colunaAnimalForm{
    display: flex;
    flex-direction: row;
    text-align: center;
}

.colunaAnimalForm div{
    padding: 2%;
}

.botaocentralizado{
    width: 100%;
    display: flex;
    justify-content: center;
}

.botaocentralizado button{
    background-color:#680682;
    color: white;
}

.botaocentralizado button:hover{
    background-color:#680682;
    color: white;
}