
#titulo-modal {
  font-weight: 600 !important;
  color: #ff4880;
}

.dropdown-toggle {
  margin-right: 3px;
}
.btn-primary{
  border-color: transparent !important;
}
#menuNotificacao .dropdown-menu{
  width: 40vh;
  height: 40vh;
  overflow-y: auto;
  /* background-color: #680682; */
  border-color: #680682 !important;
  margin-right: 3px;
}
.btn-check:active+.btn-primary:focus, .btn-check:checked+.btn-primary:focus, .btn-primary.active:focus, .btn-primary:active:focus, .show>.btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem transparent !important;
  margin-right: 3px;
}
/* .wrapper {
   padding-top: 120px;
   } */
#card-desaparecido {
  padding-bottom: 20px !important;
}
#cardInteiro{
  box-shadow:  #ff487fb4;
}
.card-img-top {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
.card-body {
  text-align: center;
  box-shadow: 0px 15px 15px -8px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}
.card-body h6 {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ff4880;
}
.card-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
}
.sr-only {
  font-size: 0px;
  text-decoration: none;
}

@media (max-width: 800px) {
  .mx-30 {
    margin-bottom: 30px;
  }
}

.menuchaticon{
  display: flex !important;
  flex-direction: row;
  height: 100%;
  background-color: #680682 !important;

}
