.cardLateral{
    width:250px;
    margin-top: 30px;
    margin-left: 5px;
    margin-right: 20px;
margin-left: 20px;
    margin-bottom: 20px;
    
}
.Texto{
    font-size: 8px;
}

.titulo{

   font-size: 13px; 
}
.iconeLike{
    background-color: #ff4880;
    border-radius: 4px;
    text-align: left;
    padding-left: 5px;
}
.iconeLike .numeroLike{
   color: white;
    float: right;
    margin-right: 50px;
}
.card{
    min-width: 300px;
}