.chat_fp{
    background-color: white;
    display: flex;
    width: 80%;
    height: 90%;
    padding: 5%;
    border: 1px solid black;
}

.chat_fp_body{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90vh;

}

.chat_fp__elemento{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 30%;
}
.chat_fp__elemento_cards{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.inputUsuario{
    border-radius: 8px;
    display: flex;
}

.mensagens{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    overflow-y: auto;
}

.mensagens__corpo{
    height: 90%;
    overflow-y: auto;
    padding:5%;
}
.mensagens__mandar{
    display: flex;
    flex-direction: column;
}
.mensagens__mandar input{
    width: 100%;
}

.mensagens__mandar__inputs{
    display: flex;
}
/* .direita{
    display: flex;
    justify-content: flex-end;
    color: red;
}

.esquerda{
    display: flex;
    justify-content: flex-start;
} */

.direita {
    margin-left: 50%;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    border: 5px solid;
    border-color:#ff4880 ;
    border-radius:10px ;
    text-align: center;
	-webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
	-moz-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
	box-shadow:  9px 7px 5px rgba(50, 50, 50, 0.77);
}

.esquerda{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    border: 5px solid;
    border-color:#8fc424;
    border-radius:10px ;
    text-align: center;
    -webkit-box-shadow:9px 7px 5px rgba(50, 50, 50, 0.77);
	-moz-box-shadow:9px 7px 5px rgba(50, 50, 50, 0.77);
	box-shadow:9px 7px 5px rgba(50, 50, 50, 0.77);

}

.texto{
    grid-column: span 2;
    background-color: #ff4880 ;
    width:100%;
}
.texto .icone{
    text-align: center;
}
.texto .NomePessoa{
    text-align: center;
    color: white;
}