.chat_fp{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0% 2% 2% 2%;
}

.chat_fp_body{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90vh;
}

.chat_fp__elemento{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 30%;
    background-color: white;

}
.chat_fp__elemento_cards{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.inputUsuario{
    border-radius: 8px;
    display: flex;
}

.mensagens{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    overflow-y: auto;
    background-color: white;

}

.mensagens__corpo{
    height: 90%;
    overflow-y: auto;
    padding:5%;
}
.mensagens__mandar{
    display: flex;
    flex-direction: column;
}
.mensagens__mandar input{
    width: 100%;
}

.mensagens__mandar__inputs{
    display: flex;
}
/* .direita{
    display: flex;
    justify-content: flex-end;
    color: red;
}

.esquerda{
    display: flex;
    justify-content: flex-start;
} */

.chatMsg-esquerda{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.chatMsg-direita{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.chatmsg{
    margin-left: 50%;
    min-width: 20%;
    display: flex;
    justify-content: flex-end;
    border: 5px solid;
    border-radius:10px ;
    text-align: center;
	-webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
	-moz-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
	box-shadow:  9px 7px 5px rgba(50, 50, 50, 0.77);
    word-break: break-all;
    padding: 2%;
}
.direita {
    border-color:#ff4880 ;
}

.esquerda{
    border-color:#8fc424;
}

.texto{
    grid-column: span 2;
    background-color: #ff4880 ;
    width:100%;
}
.texto .icone{
    text-align: center;
}
.texto .NomePessoa{
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 1%,1%,1%,1%;
}