.corpoAnimal{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    margin:5% 0% 5% 0%;
}   
.cardReact{
    width: 25%;
    color:rgb(66, 66, 66);
    border: 5px double rgb(248, 146, 163);
}