.inputMensagem{
    border: none;
    width: 340px;
    height: 40px;
    background-color:#f4f2ef ;
    margin-bottom: 40px;
    border-radius: 14px;
    margin-left: 10px;
}
.nome {
    background-color:#f4f2ef ;
    text-align: center;
    margin-top: 10px;
}
.LupaMessagem{
    width: 100px;
height: 100px;
font-size:35px;
}