.inputMensagem{
    border: none;
    width: 500px;
    height: 40px;
    background-color:#f4f2ef ;
    margin-bottom: 40px;
    border-radius: 14px;
}
.nome {
    background-color:#f4f2ef ;
    text-align: center;
    margin-top: 10px;
}