.texto{
    
    grid-column: span 2;

    background-color: #ff4880 ;
    width:100%;
    border-radius: 8px;
}
.texto .icone{
    text-align: center;
}
.texto .NomePessoa{
    text-align: center;
    color: white;
}