



.inputMensagem{
    border: none;
    width: 340px;
    height: 40px;
    background-color:#f4f2ef ;
    margin-bottom: 40px;
    border-radius: 14px;
    margin-left: 10px;
}
.textoAviso {
    border: 5px solid;
    border-color:#ff4880 ;
    border-radius:10px ;
    text-align: center;
    margin-top: 10px;
    font-size: 10px;
    margin-left: 60px;
    margin-right: 5px;
}
.texto1{
    border: 5px solid;
    border-color:#8fc424;
    border-radius:10px ;
    text-align: center;
    margin-top: 10px;
    font-size: 10px;
    margin-right: 60px;
    margin-left: 5px;
    margin-top: 20px;

}
.LupaProcurra{
    margin-left: 40px;
    
}
.LupaProcurra .LupaMessagem{

    width: 100px;
height: 100px;
font-size:35px;

}